* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-gradient-2: hsl(273, 75%, 66%);
  --background-gradient-1: hsl(240, 73%, 65%);
  --active-question-color: hsl(238, 29%, 16%);
  --hover-text-color: hsl(14, 88%, 65%);
  --inactive-heading-color: hsl(237, 12%, 33%);
  --active-answer-color: hsl(240, 6%, 50%);
  --divider: hsl(240, 5%, 91%);
  --font: "Kumbh Sans", sans-serif;
}
body {
  font-family: var(--font);
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(
    var(--background-gradient-2),
    var(--background-gradient-1)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin: 9rem 1.5rem;
  background-color: rgb(255, 255, 255);
}
.svgs {
  position: relative;
}
.baseImg {
  height: 100px;
  width: 83%;
  position: absolute;
  top: -3vh;
  left: 6vw;
  background-image: url("./images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.womanOnScreen {
  height: 200px;
  width: 83%;
  position: absolute;
  top: -20vh;
  left: 6vw;
  background-image: url("./images/illustration-woman-online-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.content {
  margin-top: 7rem;
}
header {
  margin-bottom: 2rem;
  color: var(--active-question-color);
}
/*  */

.item {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--divider);
  cursor: pointer;
}

.questionContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.questionContent:hover {
  color: var(--hover-text-color);
}
.question {
  color: var(--inactive-heading-color);
  font-weight: 300;
  font-size: 0.85rem;
  text-align: left;
}
.answer p {
  text-align: left;
  font-size: 0.78rem;
  line-height: 1.5;
  color: var(--active-answer-color);
  margin-bottom: 1rem;
}

.answer {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.arrow {
  transition: all 0.2s ease-in-out;
}
.item[aria-expanded="true"] .answer {
  max-height: 700px;
}
.item[aria-expanded="true"] .question {
  color: var(--active-question-color);
  font-weight: 700;
}
.item[aria-expanded="true"] .arrow {
  transform: rotate(180deg);
}

@media (min-width: 767px) {
  .svgs {
    overflow: hidden;
  }
  main {
    max-width: 90%;
    padding: 5rem 7rem;
    align-self: center;
  }
  .heading {
    text-align: left;
    font-size: 2.7rem;
    margin-bottom: 3rem;
  }
  .question,
  .answer p {
    font-size: 1rem;
  }

  .content {
    margin-top: 0rem;
    float: right;
    max-width: 50%;
  }
  .baseImg {
    height: 100px;
    width: 83%;
    /* position: absolute;
    
    top: -3vh;
    left: 6vw; */

    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .womanOnScreen {
    height: 400px;
    position: absolute;
    top: 0vh;
    left: -10vw;
    /* overflow: hidden; */
    background-image: url("./images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .box {
    height: 5rem;
    max-width: 100px;

    background-image: url("./images/illustration-box-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .questionContent {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
}
